.p1{
  left: 309px;
  top: 690px;
}
.p2{
  left: 314px;
top: 686px;
}
.p3{
  left: 316px;
top: 680px;
}
.p4{
  left: 319px;
top: 674px;
}
.p5{
  left: 323px;
top: 668px;
}
.p6{
  left: 327px;
top: 662px;
}
.p7{
  left: 330px;
top: 656px;
}
.p8{
  left: 331px;
top: 648px;
}
.p9{
  left: 333px;
top: 640px;
}
.p10{
  left: 337px;
top: 634px;
}
.p11{
  left: 342px;
top: 629px;
}
.p12{
  left: 346px;
top: 624px;
}
.p13{
  left: 345px;
top: 618px;
}
.p14{
  left: 344px;
top: 611px;
}
.p15{
  left: 347px;
top: 604px;
}
.p16{
  left: 351px;
top: 599px;
}
.p17{
  left: 357px;
top: 595px;
}
.p18{
  left: 362px;
top: 590px;
}
.p19{
  left: 367px;
top: 585px;
}
.p20{
  left: 373px;
top: 581px;
}
.p21{
  left: 380px;
top: 578px;
}
.p22{
  left: 386px;
top: 572px;
}
.p23{
  left: 391px;
top: 567px;
}
.p24{
  left: 396px;
top: 561px;
}
.p25{
  left: 400px;
top: 555px;
}
.p26{
  left: 401px;
top: 547px;
}
.p27{
  left: 403px;
top: 540px;
}
.p28{
  left: 404px;
top: 532px;
}
.p29{
  left: 405px;
top: 524px;
}
.p30{
  left: 408px;
top: 517px;
}
.p31{
  left: 411px;
top: 510px;
}
.p32{
  left: 413px;
top: 502px;
}
.p33{
  left: 415px;
top: 495px;
}
.p34{
  left: 418px;
top: 487px;
}
.p35{
  left: 423px;
top: 480px;
}
.p36{
  left: 426px;
top: 471px;
}
.p37{
  left: 429px;
top: 463px;
}
.p38{
  left: 432px;
top: 455px;
}
.p39{
  left: 435px;
top: 446px;

}
.p40{
  left: 438px;
top: 437px;
}
.p41{
  left: 442px;
top: 428px;
}
.p42{
  left: 446px;
top: 422px;
}
.p43{
  left: 449px;
top: 414px;
}
.p44{
  left: 452px;
top: 406px;
}
.p45{
  left: 453px;
top: 398px;
}
.p46{
  left: 454px;
top: 390px;

}
.p47{
  left: 454px;
top: 382px;

}
.p48{
  left: 454px;
top: 375px;
}
.p49{
  left: 456px;
top: 367px;
}
.p50{
  left: 457px;
top: 360px;
}
.p51{
  left: 457px;
top: 353px;
}
.p52{
  left: 456px;
top: 346px;
}
.p53{
  left: 455px;
top: 338px;
}
.p54{
  left: 455px;
top: 331px;
}
.p55{
  left: 458px;
top: 325px;
}
.p56{
  left: 462px;
top: 319px;
}
.p57{
  left: 467px;
top: 314px;
}
.p58{
  left: 469px;
top: 308px;
}
.p59{
  left: 464px;
top: 303px;
}
.p60{
  left: 458px;
top: 299px;
}
.p61{
  left: 454px;
top: 293px;
}
.p62{
  left: 453px;
top: 286px;
}
.p63{
  left: 448px;
top: 280px;
}
.p64{
  left: 442px;
top: 277px;
}
.p65{
  left: 439px;
top: 270px;
}
.p66{
  left: 440px;
top: 262px;
}
.p67{
  left: 444px;
top: 257px;
}
.p68{
  left: 447px;
top: 250px;
}
.p69{
  left: 448px;
top: 244px;
}
.p70{
  left: 444px;
top: 238px;
}
.p71{
  left: 439px;
top: 234px;
}
.p72{
  left: 433px;
top: 229px;

}
.p73{
  left: 427px;
top: 225px;

}
.p74{
  left: 423px;
top: 221px;
}
.p75{
  left: 420px;
top: 214px;
}
.p76{
  left: 423px;
top: 207px;
}
.p77{
  left: 430px;
top: 205px;

}
.p78{
  left: 438px;
top: 205px;
}
.p79{
  left: 445px;
top: 203px;
}
.p80{
  left: 449px;
top: 197px;
}
.p81{
  left: 447px;
top: 190px;
}
.p82{
  left: 440px;
top: 186px;
}
.p83{
  left: 435px;
top: 182px;
}
.p84{
  left: 437px;
top: 175px;
}
.p85{
  left: 443px;
top: 171px;
}
.p86{
  left: 449px;
top: 167px;
}
.p87{
  left: 452px;
top: 160px;
}
.p88{
  left: 447px;
top: 155px;
}
.p89{
  left: 441px;
top: 150px;
}
.p90{
  left: 439px;
top: 143px;
}
.p91{
  left: 439px;
top: 135px;
}
.p92{
  left: 440px;
top: 128px;
}
.p93{
  left: 437px;
top: 122px;
}
.p94{
  left: 440px;
top: 116px;
}
.p95{
  left: 445px;
top: 111px;
}
.p96{
  left: 447px;
top: 105px;
}
.p97{
  left: 446px;
top: 98px;

}
.p98{
  left: 446px;
top: 90px;
}
.p99{
  left: 451px;
top: 86px;
}
.p100{
  left: 455px;
top: 80px;
}
